/* Reset & Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

main {
    margin: 0;
}

a {
    color: #222;
}



